apiVersion: v1beta3
baseDomain: devcluster.openshift.com
metadata:
  name: {{ cluster_id }}
platform:
  aws:
    region: {{ aws_region }}
pullSecret: '{{ pull_secret['content'] | b64decode | from_json | to_json(separators=(',',':')) }}'
sshKey: |
  {{ keygen_output.stdout }}
