[all:vars]
openshift_kubeconfig_path={{ kubeconfig_path }}
openshift_pull_secret_path={{ pull_secret_path }}

[new_workers:vars]
# oc get service -n byoh-ssh-bastion ssh-bastion -o jsonpath="{.status.loadBalancer.ingress[0].hostname}"
ansible_ssh_common_args="-o ProxyCommand=\"ssh -o IdentityFile={{ private_key_path }} -o StrictHostKeyChecking=no -W %h:%p -q core@{{ ssh_bastion }}\""
ansible_user=centos
ansible_become=True

[new_workers]
# hostnames must be listed by what `hostname -f` returns on the host
# this is the name the cluster will use
{% for host in new_workers_list %}
{{ host }}
{% endfor %}

[workers:children]
new_workers
