[OSEv3:children]
masters
nodes
etcd
new_etcd
new_masters
new_nodes
lb

[masters]
{% for host in master_list %}
{{ host.public_dns_name }}  # {{ host.private_dns_name }}
{% endfor %}

[compute]
{% for host in compute_list %}
{{ host.public_dns_name }}  # {{ host.private_dns_name }}
{% endfor %}

[infra]
{% for host in infra_list %}
{{ host.public_dns_name }}  # {{ host.private_dns_name }}
{% endfor %}

[nodes:children]
masters
compute
infra

[etcd:children]
masters

[lb]
{% if lb_host %}
{{ lb_host.public_dns_name }}  # {{ lb_host.private_dns_name }}
{% endif %}

# Scale-up Groups
[new_etcd]

[new_masters:children]
#scaleup_masters

[new_nodes:children]
#scaleup_masters
#scaleup_compute

[scaleup_masters]

[scaleup_compute]
