apiVersion: v1
baseDomain: devcluster.openshift.com
metadata:
  name: {{ cluster_id }}
platform:
  aws:
    region: {{ aws_region }}
pullSecret: '{{ pull_secret }}'
sshKey: |
  {{ public_key }}
{% if fips_enable is defined and fips_enable.lower() == 'true' %}
fips: true
{% endif %}
