[rhel-8-server-ose-{{ release_version }}-devel-rpms]
name = A repository of dependencies for OpenShift Container Platform {{ release_version }}
baseurl = https://mirror2.openshift.com/enterprise/reposync/{{ release_version }}/rhel-8-server-ose-rpms/
failovermethod = priority
gpgcheck = 0
username = {{ mirror_username }}
password = {{ mirror_password }}
enabled = 1
module_hotfixes = 1

[rhel-8-fast-datapath-{{ release_version }}-devel-rpms]
name = A repository of dependencies for OpenShift Container Platform {{ release_version }}
baseurl = https://mirror2.openshift.com/enterprise/reposync/{{ release_version }}/rhel-8-fast-datapath-rpms/
failovermethod = priority
gpgcheck = 0
username = {{ mirror_username }}
password = {{ mirror_password }}
enabled = 1
module_hotfixes = 1
