[rhel-8-for-x86_64-baseos-rpms]
name = Red Hat Enterprise Linux 8 for x86_64 - BaseOS (RPMs)
baseurl = https://mirror.openshift.com/enterprise/reposync/ci-deps/rhel-8-baseos-rpms/
gpgcheck = 0
username = {{ mirror_username }}
password = {{ mirror_password }}
enabled = 1
metadata_expire = 86400
enabled_metadata = 1
module_hotfixes = 1

[rhel-8-for-x86_64-appstream-rpms]
name = Red Hat Enterprise Linux 8 for x86_64 - AppStream (RPMs)
baseurl = https://mirror.openshift.com/enterprise/reposync/ci-deps/rhel-8-appstream-rpms/
gpgcheck = 0
username = {{ mirror_username }}
password = {{ mirror_password }}
enabled = 1
metadata_expire = 86400
enabled_metadata = 1
module_hotfixes = 1
