[rhel-7-server-rpms]
name = Red Hat Enterprise Linux 7 Server (RPMs)
baseurl = https://mirror.openshift.com/enterprise/reposync/ci-deps/rhel-server-rpms/
failovermethod = priority
gpgcheck = 0
username = {{ mirror_username }}
password = {{ mirror_password }}
enabled = 1

[rhel-7-server-optional-rpms]
name = Red Hat Enterprise Linux 7 Server - Optional (RPMs)
baseurl = https://mirror.openshift.com/enterprise/reposync/ci-deps/rhel-server-optional-rpms/
failovermethod = priority
gpgcheck = 0
username = {{ mirror_username }}
password = {{ mirror_password }}
enabled = 1

[rhel-7-server-extras-rpms]
name = Red Hat Enterprise Linux 7 Server - Extras (RPMs)
baseurl = https://mirror.openshift.com/enterprise/reposync/ci-deps/rhel-server-extras-rpms/
failovermethod = priority
gpgcheck = 0
username = {{ mirror_username }}
password = {{ mirror_password }}
enabled = 1

[rhel-7-fast-datapath-rpms]
name = Red Hat Enterprise Linux 7 Server - Fast Datapath (RPMs)
baseurl = https://mirror.openshift.com/enterprise/reposync/ci-deps/rhel-fast-datapath-rpms/
failovermethod = priority
gpgcheck = 0
username = {{ mirror_username }}
password = {{ mirror_password }}
enabled = 1
