---
- name: Prep Playbook
  hosts: new_workers
  any_errors_fatal: true
  gather_facts: false

  handlers:
  - import_tasks: handlers/main.yml

  vars:
    payload_version: "{{ lookup('env', 'OPT_PAYLOAD') }}"
    build_version: "{{ lookup('env', 'OPT_PREP_BUILD_VERSION') | default('latest', true) }}"
    ops_mirror_path: "{{ lookup('env', 'OPT_OPS_MIRROR_PATH') | default(playbook_dir ~ '/../../shared-secrets/mirror/ops-mirror.pem', true) }}"

  tasks:
  - name: Fail if 'OPT_PAYLOAD' is not defined
    fail:
      msg: "'OPT_PAYLOAD' must be a defined environment variable"
    when:
    - payload_version == ''

  - name: Set prep_version to payload version
    set_fact:
      prep_version: "{{ payload_version | regex_search('^\\d+\\.\\d+') }}"

  - name: Wait for host connection to ensure SSH has started
    wait_for_connection:
      timeout: 600

  - name: Copy Atomic OpenShift yum repository certificate and key
    copy:
      src: "{{ ops_mirror_path }}"
      dest: /var/lib/yum/

  - name: Create rhel-7-server-ose-rpms repo file
    template:
      src: rhel-7-server-ose-4.X-devel-rpms.repo.j2
      dest: /etc/yum.repos.d/rhel-7-server-ose-rpms.repo
    vars:
      target_version: "{{ prep_version }}"
    notify: refresh cache

  - name: Create rhel-7-server-rpms repo file
    copy:
      src: rhel-7-server-rpms-4.X.repo
      dest: /etc/yum.repos.d/
    notify: refresh cache

  - meta: flush_handlers

